$color-contrasting:#d268cc;
$color-primary:#8424bc;
$color-bg:#ebdcf1;
$color-black:#000;
$color-white:#fff;

$spacer-0:0px;
$spacer-md:5px;
$spacer-1:10px;
$spacer-2:20px;
$spacer-3:30px;
$spacer-4:40px;

$font-xsm:12px;
$font-sm:14px;
$font-md:16px;
$font-lg:20px;
$font-xl:24px;
$font-xxl:30px;
$font-title:40px;