@import '../../../assets/scss/variables';

.dashboard-module{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $color-primary;

    .text-div{
        color: $color-white;
        padding: 100px;
        text-align: center;
        .heading{
            font-size: $font-title;
            line-height: 46px;
            font-weight: 700;
            padding: $spacer-3 $spacer-0;
        }
        .welcome{
            font-size: $font-xl;
            font-weight: 400;
            padding: $spacer-3 $spacer-0;
        }
        .btn-logout{
            background-color: $color-white;
            color: $color-primary;
            cursor: pointer;
            border-radius: 50px;
            padding: $spacer-md $spacer-4;

            &:hover .btn-icon{
                animation: rotateicon 1s ease-in-out;
            }
        }
    }
}