<section class="login-module">
    <div class="container">
        <div class="row login-base">
            <div class="col-lg-8 col-12 img-div">
                <img src="../../../assets/images/login.png" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id magni totam voluptates error iure.
                    Itaque iure repellat, libero placeat mollitia deserunt temporibus.</p>
            </div>
            <div class="col-lg-4 col-12 form-div">
                <div class="welcome">
                    <p>Welcome back</p>
                </div>
                <app-login-form></app-login-form>
            </div>
        </div>
    </div>
</section>